{% extends 'head_and_foot.html' %}
{% load render_table from django_tables2 %}
{% load static %}


{% block content %}


    <h1 class="text_center"> Système de gestion d'hydroponie </h1>

    <ul id="onglets" class="h_flex">

      {% for rpi in rpi %}
        {% if rpi.is_conected == True %}
          <li> <a id="{{rpi.name}}" onclick="ShowOnglet(this.id)" style="color: green;">{{ rpi.name }}</a> </li>
        {% else %}
          <li> <a id="{{rpi.name}}" onclick="ShowOnglet(this.id)" style="color: red;">{{ rpi.name }}</a> </li>
        {% endif %}
      {% endfor %}

    </ul>


    {% for rpi in rpi %}
      <div id="onglet_{{rpi.name}}" class="onglet">
        <div class="section h_flex" style="height:65vh;">

          <div class="pannel" id="control_manual_pannel" style="overflow: scroll;">

            <div class="h_flex">
              <h2> mode manuel </h2>
              
              <label class="rocker rocker-small">
                <input type="checkbox" id="manual_mode_{{rpi.name}}" class="manual_mode" onclick="switch_manual_mode({{rpi.id}},{{rpi.name}})">
                <span class="switch-left">Yes</span>
                <span class="switch-right">No</span>
              </label>
            </div>

            <div class="h_flex hide disable_input_block_{{rpi.name}}">
              <p> pompe a eau </p>
              
              <label class="rocker rocker-small">
                <input type="checkbox" class="disable_input_{{rpi.pk}}" id="water_{{rpi.name}}" onclick="recupId(this.id)">
                <span class="switch-left">On</span>
                <span class="switch-right">Off</span>
              </label>
            </div>

            <div class="h_flex hide disable_input_block_{{rpi.name}}">
              <p> lumière </p>
              
              <label class="rocker rocker-small">
                <input type="checkbox" class="disable_input_{{rpi.pk}}" id="lights_{{rpi.name}}" onclick="recupId(this.id)">
                <span class="switch-left">On</span>
                <span class="switch-right">Off</span>
              </label>
            </div>

            <div class="h_flex hide disable_input_block_{{rpi.name}}">
              <p> ev pH </p>
              
              <label class="rocker rocker-small">
                <input type="checkbox" class="disable_input_{{rpi.name}}" id="ph_{{rpi.name}}" onclick="recupId(this.id)">
                <span class="switch-left">On</span>
                <span class="switch-right">Off</span>
              </label>
            </div>

            <div class="h_flex hide disable_input_block_{{rpi.name}}">
              <p> ev EC </p>
              
              <label class="rocker rocker-small">
                <input type="checkbox" class="disable_input_{{rpi.pk}}" id="ec_{{rpi.name}}" onclick="recupId(this.id)">
                <span class="switch-left">On</span>
                <span class="switch-right">Off</span>
              </label>
            </div>

          </div>

          <!-- TABLEAU DES DERNIERES MESURES PH ET EC A REMPLACER VOIR CHART JS-->

          <div class="pannel" id="last_measure_pannel" style="overflow: scroll;">

            <h2> Dernières mesures </h2>
            <div class="h_flex">

            

              <table class="table table-striped">

                <thead>
                    <tr>
                        <th>date</th>
                        <th>ph</th>
                        <th>ec</th>
                    </tr>
                </thead>


                <tbody>
                  {% for ph in rpi.ph.all|dictsortreversed:"date" %}
                    <tr>

                      <td>
                        {{ ph.date }}
                      </td>

                      <td>
                        {{ ph.value }}
                      </td>

                      {% for ec in rpi.ec.all %}

                        {% if ec.date == ph.date %}

                        <td>
                          {{ ec.value }}
                        </td>

                        {% endif %}
                      
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>

              </table>

            </div>
          
          </div>


        </div>

        <div class="section">
          <div class="h_flex">
            <h2 class="text_center"> Planificateur  </h2>
          </div>



          <!-- WATER SCHEDULE -->

          <div class="h_flex">
            <h2 class="text_center"> Pompe à eau  </h2>
            <div class="v_flex">
              <a class="color_white" href="{% url 'rpi:add_schedule' %}?categori=water&rpi_active={{rpi.pk}}"><i class="fas fa-plus-circle"></i> ajouter un horaire</a>
            </div>
          </div>

          <table id="schedule_table" class="text_center">
            <thead>
                <tr>
                    <th>debut</th>
                    <th>fin</th>
                    <th>supprimer</th>
                </tr>
              </thead>
            <tbody>
            
              {% for times in rpi.water.all %}
                <tr>
                  <td>{{ times.begin }}</td>  
                  <td>{{ times.end }}</td>
                  <td> <a class="color_white" href="{% url 'rpi:delete_schedule' %}?pk={{times.pk}}&categori=water&rpi={{rpi.pk}}"><i class="fas fa-trash-alt"></i></a> </td>
                </tr>
              {% endfor %}

            </tbody>
          </table>

          <div class="h_flex">
            <h2 class="text_center"> Lumières </h2>
            <div class="v_flex">
              <a class="color_white" href="{% url 'rpi:add_schedule' %}?categori=lights&rpi_active={{rpi.pk}}"><i class="fas fa-plus-circle"></i> ajouter un horaire</a>
            </div>
          </div>

          <!-- LIGHTS SCHEDULE -->

          <table id="schedule_table" class="text_center">
            <thead>
                <tr>
                    <th>debut</th>
                    <th>fin</th>
                    <th>supprimer</th>
                </tr>
            </thead>
            <tbody>
            
              {% for times in rpi.lights.all %}
                <tr>
                  <td>{{ times.begin }}</td>  
                  <td>{{ times.end }}</td>
                  <td> <a class="color_white" href="{% url 'rpi:delete_schedule' %}?pk={{times.pk}}&categori=lights&rpi={{rpi.pk}}"><i class="fas fa-trash-alt"></i></a> </td>
                </tr>
              {% endfor %}

            </tbody>
          </table>

          <!-- form for ph and EC -->
          <div class="v_flex">
            <form action="{% url 'rpi:gestion' %}?rpi_active={{rpi.pk}}" method="post">
              {% csrf_token %}
              {{ form_phec.as_p }}
              <input type="submit" value="Valider pH et Ec">
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </body>


{% endblock %}

