{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>hydropilt</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{% static 'css/css.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">


  <script src="https://use.fontawesome.com/9562f6ad9a.js"></script>

</head>
  <body>


    <h1 class="text_center"> Système de gestion d'hydroponie </h1>
    

      <div class="section h_flex">

        <div class="pannel" id="control_manual_pannel">

          <h2> mode manuel </h2>

          <form action="/" method="post">
            {% if form %}
              {% csrf_token %}
              {{ form.as_p }}
            {% endif %}
            <input id="submit" type="submit" value="Submit">
          </form>

        </div>

        <div class="pannel" id="last_measure_pannel">

          <h2> Dernières mesures </h2>

          <div class="v_flex">
            <p class="text_center" id="last_ph_value"> {{ last_ph.value }} </p>
            <p class="text_center" id="last_ph_date"> {{ last_ph.date }} </p>
          </div>

        </div>

      </div>

      <div class="section">
        <div class="h_flex">
          <h2 class="text_center"> Planificateur  </h2>
          <div class="v_flex">
            <a class="color_white" href="{% url 'rpi:add_schedule' %}"><i class="fas fa-plus-circle"></i> ajouter un horaire</a>
          </div>
        </div>

        <table id="schedule_table" class="text_center">
          <thead>
              <tr>
                  <th>debut</th>
                  <th>fin</th>
                  <th>supprimer</th>
              </tr>
          </thead>
          <tbody>
          
            {% for times in schedule_list %}
              <tr>
                <td>{{ times.begin }}</td>  
                <td>{{ times.end }}</td>
                <td> <a class="color_white" href="{% url 'rpi:delete_schedule' %}?pk={{times.pk}}"><i class="fas fa-trash-alt"></i></a> </td>
              </tr>
            {% endfor %}

          </tbody>
        </table>


      </div>

      <div class="section">

        <h2> Statistiques  </h2>

        <canvas id="myChart" width="400" height="400"></canvas>

      </div>


  </body>

    <script>
      function delete_id(id) {
        var url = "";
        window.location.href = url + '/' + id;
      }
    </script>

  <script>

    document.querySelector('#chat-message-input').focus();
    
    document.querySelector('#chat-message-input').onkeyup = function(e){
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#submit').click();
        }
    };

  </script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
  </script>

</html>